*,
*::before,
*::after {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
:root {
	--mainFontColor: #212121;
	--mainFontFamily: "Roboto";
}
body {
	font-family: "Roboto";
	font-weight: 500;
}

.links-top-box {
	max-height: 80px;
	max-width: 1200px;
	margin:0 auto;	
	padding-top: 24px;
	padding-bottom:25px;
}
menu {
	display: flex;
	letter-spacing: 0.02em;
	list-style:none;
	gap:46px;
}
svg {
	margin: 0 auto;
}
.nawigacja {
	display:flex;
	align-items: center;
}
.details {
	padding-top:94px;

}
.header-svg {
	fill:#757575;
	margin-right:10px;

}
.social-links {
	display:flex;
	gap:10px;
    background-color:#FFFFFF;
	list-style:none;
	max-width: 202px;
	margin:0 auto;
	justify-content: space-between;
	padding-bottom: 30px;
}
.social-link-li:hover .social-link-icon,
.social-link-li:focus .social-link-icon{
    fill: #FFFFFF;
}


.social-link-icon{
    fill:#757575;
	width:44px;
	height: 44px;
	display:flex;
	justify-content: center;
	align-items: center;
}
.social-link-li:hover,
.social-link-li:focus {
    border-radius: 50%;
    cursor: pointer;
    background-color:#2196F3;
}
.header-box {
	display: flex;
	justify-content: space-between;
	margin:0 auto;
	margin-right:150px;
}

.header-svg:hover,
.header-svg:focus {
	fill:#2196f3; 
}
.svg-lorem {
	background-color: #F5F4FA;
	border-radius: 4px;
	width: 270px;
	height:120px;
	padding:25px 100px;
}
.our-customers{
    border: 1px solid #AFB1B8;
    padding:16px 32px;
}
.our-customers:hover,
.our-customers:focus {
	fill:#2196F3; 
	border-color:#2196F3;
}
.our-customers-flex{
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    letter-spacing: 0.03em;
    display: flex;
    fill:#AFB1B8;
    cursor: pointer;
    gap:30px;
    padding: 0;
	list-style: none;
	margin-top:50px;
	
}
.button-bg {
	display:flex;
	flex-direction:column;
	align-items:center;
	background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/tło-przycisk.jpg);
}
.background-image {
	background: linear-gradient(rgba47, 48, 58, 0.40);
	background-image: #2F303A66; 
}
.web {
	color: #2196f3;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
}
.mainlogo {
	color: #000000;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
	padding-right: 93px;
}
.mainlogo2 {
	display:block;
	color: #ffffff;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	text-decoration: none;
	padding-bottom: 20px;
}
.links-site {
	font-size: 14px;
	line-height: 1.14;
	color: #212121;
	text-decoration: none;
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.links-site:hover {
	color: #2196f3;
	left:0;
}
.current {
	color:#000000;
	position: relative;
}

.current:hover, .current::after {
	content: '';
	color:#2196F3;
	width:53px;
	height:4px;

}
.links {
	display:flex;
}

.contact {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content:flex-start;
}
.mail{
	font-size: 14px;
	line-height: 1.14;
	color: #757575;
	text-decoration: none;
	margin-left:325px;
	margin-right:50px;
	display: flex;
	align-items: center;
}
.tel {
	font-size: 14px;
	line-height: 1.14;
	color: #757575;
	text-decoration: none;
	display: flex;
	align-items: center;
}
.mail:hover,
.tel:hover {
	color:#2196f3;
}
.mail:hover svg,
.tel:hover svg {
	fill:#2196f3;
}
.quick-contact2:hover {
	color:#2196f3;
}
.main_text {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.14;
	color: #ffffff;
	margin-top:200px;
	margin-bottom:40px;
	text-align:center ;
}
.container {
	text-align: center;
	list-style:none;

}
.social-link-footer{
    width:44px;
    height:44px;
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
	align-items: center;
	justify-content: center;
}
.link-portfolio {
	text-decoration: none;
	display: block;
	border: 1px solid #EEEEEE;
}
.porftolio-overlay {
	position: relative;
	overflow: hidden;
}
.card-overlay {
	width:370px;
	height:300px;
	background-color: #2196F3;
	color:#EEEEEE;
	text-align: justify;
	position: absolute;
	left:0px;
	top:0px;
	padding:40px 32px;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-portfolio:hover, 
.link-portfolio:focus {
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.link-portfolio:hover .card-overlay {
	transform: translateY(0);
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.ul-socials {
	display: flex;
	gap:10px;

}
.social-link-icon-footer{
    fill:#FFFFFF;
}
.social-link-footer:hover,
.social-link-footer:focus{
    border-radius: 50%;
    cursor: pointer;
    background-color:#2196F3;
}


.social-link-footer:hover .social-link-icon-footer,
.social-link-footer:focus .social-link-icon-footer {
    fill: #FFFFFF;
}
.container-our-clients {
		width: 1200px;
		margin: 0 auto;
		padding-bottom:94px;
}
.our_clients {
	justify-content: center;
	display: flex;
	margin:0 auto;
	margin-top:94px;
	font-size: 46px;
}
.container1 {
	max-width: 1200px;
	margin:0 auto;
}
.details {
	padding-top:94px;
	padding-bottom:47px;

}
.detail-container {
	display:flex;
	max-width: 1200px;
	margin:0 auto;
	list-style:none;
	gap:30px;
}
.button {
	width: 200px;
	height: 50px;
	background-color: #2196f3;
	font-weight: 700;
	font-size: 16px;
	color: #ffffff;
	border: none;
	cursor: pointer;
	margin-bottom:200px;	

}
.text_title {
	font-weight: 700;	
	font-size: 16px;
	color: #212121;
	margin:30px 0 10px 0;
}
.images1 {
	display:flex;
	justify-content: center;
	gap:30px;
	background-color: #ffffff;
	padding-bottom:188px;
	list-style: none;
	margin:0;
	padding:0;

}
ul {
	list-style: none;
}
.text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: #757575;
	margin:0;
}
.topic1 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: #212121;
	text-align:center;
	margin-bottom:50px;
}
.wwd {
	padding-top:47px;
	padding-bottom: 94px;
}
.wwd-container {
	max-width: 1200px;
	margin:0 auto;
}
.bg1 {
	background-color: #2f303a;
	max-height: 600px;
	max-width: 1600px;
	margin:0 auto;
} 
.our_team {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: #212121;
	text-align: center;
	margin: 0 0 50px;
}
.images_members {
	display: flex;
	background-color: #F5F4FA;
	padding: 94px 0;
}
.container-team {
	max-width:1200px;
	margin:0 auto;
	
}
.members-list {
	display: flex;
	justify-content: center;
	list-style:none;
	gap:30px;
}

.member_text {
	display:flex;
	font-size: 16px;
	line-height: 1.18;
	color: #212121;
	justify-content: center;
	padding-top:30px;
	padding-bottom:10px;
}
.member_job {
	text-align:center;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	color: #757575;
	margin:0;
	margin-bottom:4px;
}
.member_bg {
	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	margin:0;

}
.images-container {

}
.our_team_bg {
	color: #F5F4FA;

}
.footer {
	background-color: #2f303a;
	display: flex;
    align-items: center;
    width: 1600px;
    margin:0 auto;

}
.footer2 {
	background-color:#2f303a;
	display:block;
	padding-bottom:60px;

}
.footer-container {
	max-width: 1200px;
	margin:0 auto;
	display:flex;
	gap: 70px;
}
.footer-scnd {
	margin-top:72px;
	margin-left:215px;

}
.adress {
	display:block;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: #ffffff;
	text-decoration: none;
	font-style: normal;
	margin-bottom:9px;
	cursor:pointer;
}
.adress:hover {
	color: #2196f3;
}
.quick-contact2 {
	display:flex;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: #ffffff99;
	text-decoration: none;
	margin-bottom:9px;

}
.footer-thrd {
	margin-bottom:51px;

}
.btn_portfolio {
	font-size: 16px;
	line-height: 1.62;
	color: #212121;
	font-weight: 500;
	border: none;
	cursor: pointer;
	font-family: "Roboto";
	padding:6px 22px 6px 22px;
	height: 38px;
	margin-top:94px;
	border-radius: 4px;
}
.buttons {
	display:flex;
	justify-content: center;
	gap:8px;
	border-radius: 4px;
}
.join-us {
	margin-bottom: 20px;
	color:#FFFFFF;
	font-family:"Roboto";
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.42px;

}
.btn_portfolio:hover,
.btn_portfolio:focus {
	background-color: #2196f3;
	color: #ffffff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project {
	display:flex;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: #212121;
	list-style:none;
	padding-left:24px;
	margin:0;

}
.p_text {
	font-weight: 400;
	font-size: 16px;
	line-height: 2;
	color: #757575;
	padding-left:24px;
	margin:0;

}
.projekty {
	list-style:none;
	height:403px;

}
.projekty-text {
	padding:20px 24px 20px 24px;
}
.pr{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin-top:94px;
	gap:30px;
	margin-bottom:94px;
}
.line {
	border: 1px solid #ECECEC;
}
